# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea/
myexperiment/ssd*
venv/
yolov3/*.pb
myexperiment/__pycache__
