# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea/0

myexperiment/ssd*
myexperiment/data/*.mp4
myexperiment/string_int_label_map.proto


venv/
yolov3/*.pb
yolov3/checkpoint/

myexperiment/__pycache__
